ul {
    list-style-type: none;
}
.gridcontainer {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .3em;
    background-color:rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100vh;
}
.gridcontainer > div {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
    width: 150vh;
}
.itemav {
    grid-column: 1 / span 1;
}
.buttonFormGrid {
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.4em;
    cursor: pointer;
}
