.rutas-container {
    max-width: 1100px;
    margin: auto;
}
.rutas-cardss {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.rutas-cardd {
    cursor: pointer;
    background-color: transparent;
    height: auto;
}
.rutas-cardd:hover {
    opacity: 0.8;
    transition: opacity .2s ease-in;
}
.rutas-cardd img {
    width: 33vh;
    height: 33vh;
    object-fit: fill;
}
@media (max-width: 800px) {
    .rutas-cardss {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .rutas-cardss {
        grid-template-columns: 1fr;
    }
}
