a {
    text-decoration: none;
}
input[type='text'] {
    font-size: 1.3em;
}  
input[type='email'] {
    font-size: 1.3em;
}
input[type='file'] {
    font-size: 1.3em;
}
input:hover {
    border: solid 2px cornflowerblue;
}
textarea:hover {
    border: solid 2px cornflowerblue;
}
select:hover {
    border: solid 2px cornflowerblue;
}
.btnText {
    font-size: 1.7em;
}
.footerText {
    font-size: 2.3em;
}
.cardbgRoutes1 {
    background-image:url('../../images/Bot_muro_amarillo.png');
    background-repeat: repeat-x;
    background-size:150% auto;
}
.cardbgRoutes2 {
    background-image:url('../../images/Bot_muro_aqua.png');
    background-repeat: repeat-x;
    background-size:150% auto;
}
.cardbgRoutes3 {
    background-image:url('../../images/Bot_muro_morado.png');
    background-repeat: repeat-x;
    background-size:150% auto;
}
.imgproxcover {
    width: 50%;
    height: 50%;
    cursor: pointer;
}
.imgcover {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /*border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.imgsubcover {
    width: 56vh;
    height: 40vh;
    padding-top: 15px;
    cursor: pointer;
}
.texto {
    font-weight: 200;
    font-size: 1.5em;
    color: darkblue;
    text-shadow: 2px 2px 4px #000000;
}
.subtitulo {
    font-weight: bold;
    color: #343434;
    text-shadow: 2px 2px 4px #000000;
}
.sombra {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.relleno {
    background: url("../../images/back.jpg") repeat-x;
}
.link-format {
    text-decoration: none;
    text-shadow: blue;
}
.button {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.4em;
    cursor: pointer;
}
.buttonForm {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.4em;
    cursor: pointer;
}
.alerta {
    position: relative;
    bottom: -25px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.3em;
    cursor: pointer;
}
.centro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font: .9em;
    color: grey;
}
