* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'calamity-jane-nf.regular';
  src: url('./pages/css/fonts/calamity-jane-nf.regular.ttf') format('truetype') 
}
body {
  font-family: 'calamity-jane-nf.regular', sans-serif !important;
  max-width: 100%;
  overflow-x: hidden;
}  
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/logo2.jpg") center no-repeat fixed;
  background-size: 100%;
  opacity: 0.1;
  filter:alpha(opacity=10);
  z-index: -99;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width: 500px) {
  .left, .main, .right {
    width: 50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
